.App {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  width: 760px;
  background-color: #ffe1e6;
  padding: 20px;
  color: white;
  display: block;
}

.navbar a {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

/* Home */
.main-content {
  color: grey;
}

.main-content-title {
  margin-top: 100px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 40px;
  -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #C0C0C0;
  }

  25% {
    color: #b4ddc5;
  }

  50% {
    color: #C0C0C0;
  }

  100% {
    color: #b4ddc5;
  }
}

.main-content-body {
  margin-top: 75px;
}

.main-content-body p {
  margin-bottom: 25px;
  margin-top: 25px;
}

.main-content-body #breadloaf {
  font-size: 60px;
  text-decoration: none;
}

/* CorgisList */
.corgis-list {
  margin-top: 80px;
  margin-bottom: 50px;
}

/* CorgisShow */

.corgis-show {
  color: grey;
}

.comments-show {
  margin-top: 40px;
}

.comments-show ul {
  list-style-type: none;
}

.comments-show li span.comment {
  position: relative;
  left: -25px;
}

.comments-show li span.comment {
  position: relative;
  left: -20px;
}

.comments-show button.delete-button {
  position: relative;
  left: -20px;
}

/* Contact */
.contact {
  margin-top: 120px;
}

/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  max-width: 800px;
  margin: auto;
  background-color: #f88379;
  text-align: center;
  color: white;
}

.footer p {
  font-size: 12px;
  margin: 3px;
}

/* Contact */

.contact {
  color: grey;
}

/* All Comments */

.all-comments {
  margin-top: 100px;
  margin-bottom: 70px;
}
